.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}


div {
    display: flex;
    margin: 10px;
    flex: auto;
    padding: 10px;
}

.black {
    background-color: black;
}

.grey {
    background-color: grey;
    flex: 3;
}

.rose {
    background-color: rgb(255, 129, 129);
}

.blue {
    background-color: rgb(35, 113, 214);
}

.yellow{
    background-color: palegoldenrod;
}

#black1 {
    flex-direction: column;
}



#grey1 {
    flex-direction: row;
    margin-bottom:5px;
}

#orange1 {
    background-color: orangered;
    margin-top: 5px;
}

#rose1 {
    flex:1;
}

#rose2 {
    flex:5;
}

#rose3 {
    flex:1;
}

#grey2 {
    flex-direction: column;
    flex: 2;
}

#lightblue1 {
    background-color: aqua;
}

#red1 {
    background-color: brown;
    flex-direction: column;
    justify-content: start;
}



.invisible {
    margin: 0px;
    padding: 0px;
}

#yellow2, #yellow3 {
    flex: initial;
}