.container {
    flex-direction: column;
    max-width: 1200px;
    justify-content: center;
}


body * {
    display: flex;
}



nav {
    flex-direction: row;
    flex: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: grey;
}


ul {
    list-style: none;
} 

#buttons {
    flex-direction: row;
    flex: auto;
}

#social {
    align-items: center;
}

#social > ul {
    justify-content: space-between;
    flex-direction: row;
    flex:auto;
    align-items: center;
}


li:hover {
    color:rgb(157, 157, 255);
    font-weight: bolder;
    font-size: larger;
}




.black {
    background-color: black;
}

.grey {
    background-color: grey;
}

.rose {
    background-color: rgb(255, 129, 129);
}

.blue {
    background-color: rgb(35, 113, 214);
}

.yellow{
    background-color: palegoldenrod;
}

.white{
    background-color: white;
}

#header {
    flex-direction: column;
}



#menu {
    flex-direction: row;
    margin-bottom: 5px;
}


#logo {
    flex:1;
    justify-content: center;
    padding:0;
}

#logo >  img {
    width:100px;
}

#buttons {
    padding: 0;
    flex:10;
    justify-content: space-evenly;
    align-items: center;
}

#social {
    padding: 0 20px;
    flex:1;
    justify-content: space-evenly;
    align-items: center;

}


#catchwordArea {
    background: url(header.jpg) no-repeat center;
    background-size: cover;
    height: 300px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}


#catchwordPhrase {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    color: salmon;
    flex-direction: row;
    justify-content: center;
}

#shade {
    background-color: rgba(0, 0, 0, 0.233);
    height: 200px;
    width: 70%;
    justify-content: center;
    flex-direction: column;
}

#articles {
    flex-direction: column;
    flex: 2;
}

#quote {
    background-color: aqua;
}

#sidebar {
    background-color: brown;
    flex-direction: column;
    justify-content: start;
}



.invisible {
    margin: 0px;
    padding: 0px;
}

#sidebarTitle, #sidebarText {
    flex: initial;
}

article > img {
    width: 100%;
    flex:1;
}

.articlesRow {
    flex-direction: row;
    justify-content: space-between;
    flex: auto;
}

article {
    flex:1;
    flex-direction: column;
}

.articleTitle {
    background-color: rgb(245, 108, 119);
    flex:1;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}

.text {
    flex-direction: row;
}
/* Tablets */
@media only screen and (max-width: 1024px) {
    #main {
        background-color: yellow;
        flex-direction: column;
    }
}

/* Mobile */
@media only screen and (max-width: 600px) {
    #menu, .invisible {
        flex-direction: column;
    }

    #main {
        background-color: yellow;
        flex-direction: column;
    }
}