.container {
    flex-direction: column;
    max-width: 1200px;
    justify-content: center;
}


body * {
    display: flex;
}



nav {
    flex-direction: row;
    flex: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: grey;
}


ul {
    list-style: none;
} 

#buttons {
    flex-direction: row;
    flex: auto;
}

#social {
    align-items: center;
}

#social > ul {
    justify-content: space-between;
    flex-direction: row;
    flex:auto;
    align-items: center;
}


li:hover {
    color:rgb(157, 157, 255);
    font-weight: bolder;
    font-size: larger;
}




.black {
    background-color: black;
}

.grey {
    background-color: rgb(207, 207, 207);
}

.rose {
    background-color: rgb(255, 129, 129);
}

.blue {
    background-color: rgb(35, 113, 214);
}

.yellow{
    background-color: palegoldenrod;
}





#header {
    flex-direction: column;
}


#menu {
    flex-direction: row;
    margin-bottom: 5px;
}


#logo {
    flex:1;
    justify-content: center;
    padding:0;
}

#logo >  img {
    width:100px;
}


#buttons {
    padding: 0;
    flex:10;
    justify-content: space-evenly;
    align-items: center;
}

#social {
    padding: 0 20px;
    flex:1;
    justify-content: space-evenly;
    align-items: center;

}


#catchwordArea {
    background: url(header.jpg) no-repeat center;
    background-size: cover;
    height: 300px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}


#catchwordPhrase {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    color: salmon;
    flex-direction: row;
    justify-content: center;
}

#shade {
    background-color: rgba(0, 0, 0, 0.233);
    height: 200px;
    width: 70%;
    justify-content: center;
    flex-direction: column;
}

#main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: row;
}

#articles {
    flex-direction: column;
    flex: 4;
}

#quote {
    text-align: center;
    padding: 20px;
}

#sidebar {
    flex-direction: column;
    justify-content: start;
    flex:1;
    text-align: center;
    padding:20px;
}

#sidebarTitle > h1 {
    text-align: center;
}


.invisible {
    margin: 0px;
    padding: 0px;
}

#sidebarTitle, #sidebarText {
    flex: initial;
}

.articlesRow {
    flex-direction: row;
}

.articleBox{
    background-color: white;
    padding: 10px;
    margin: 10px;
    flex-direction: column;
    justify-content: space-evenly;
    display: flex;
}

.imgBox{
    position: relative;
    text-align: center;
}

.articleImg {
    width: 100%;
}

.imgDate{
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: yellow;
  }



.articleTitleBox{
    background-color: rgb(245, 108, 119);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 5px 0px;
    height: 50px;
}

.articleTitle {
    color: white;
    font-weight: 500;
    font-size: x-large;
    margin: 0;
}

.text {
    flex-direction: row;
}

.pLeft {
    padding-left: 5px;
    padding-right: 15px;
}

.pRight {
    padding-left: 15px;
    padding-right: 10px;
}

.leerMas {
    color: grey;
    font-size: larger;
}

.leerMas:hover{
    color:rgb(245, 108, 119);
    font-weight: bold;
}

/* Tablets */
@media only screen and (max-width: 1024px) {
    #main {
        background-color: peachpuff;
        flex-direction: column;
    }
}

/* Mobile */
@media only screen and (max-width: 600px) {
    #menu, .invisible {
        flex-direction: column;
    }

    #main {
        background-color: rgb(146, 215, 255);
        flex-direction: column;
    }
}